html(lang="ja")
  head
    title Make News - ニュースアプリのカスタマイズ開発
    meta(name="description" content='"Make News"は、ニュースアプリの開発・カスタマイズに特化した製品です。自社内や関連企業に向けた周知のためなど、ある特定のクローズドコミュニティに最適化したデザインでスマホアプリが制作できます')
    meta(property="og:url" content="https://makenews.y-n-s.co.jp/")
    meta(property="fb:app_id" content="576750896103175")
    meta(property="og:type" content="article")
    meta(property="og:title" content="Make News - ニュースアプリのカスタマイズ開発")
    meta(property="og:description" content='"Make News"は、ニュースアプリの開発・カスタマイズに特化した製品です。自社内や関連企業に向けた周知のためなど、ある特定のクローズドコミュニティに最適化したデザインでスマホアプリが制作できます')
    meta(property="og:image" content="https://makenews.y-n-s.co.jp/images/ogp-20181204.jpg")
    meta(name="twitter:image" content="https://makenews.y-n-s.co.jp/images/ogp-20181204.jpg")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    link(href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet")
    link(rel="icon" href="/images/favicon.ico" type="image/x-icon")
    link(href="/css/plugins/toastr.min.css" rel="stylesheet" type="text/css")
    link(href="/css/main.min.css" rel="stylesheet" type="text/css")

  body
    #fb-root
      script.
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '576750896103175',
            xfbml      : true,
            version    : 'v3.2'
          });
          FB.AppEvents.logPageView();
        };
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));      
    main
      //- BANNER SECTION
      .banner#js-top
        .banner__content
          .banner__button
            a.button.button--banner
              span.button__text カスタマイズ例

          h1.banner__logo
            img.banner__logo-image(src="/images/makenews-logo-pc.png" alt="Make News - ニュースアプリのカスタマイズ開発")
          h2.banner__title
            span.banner__title-text Customizable Design for closed community
          h3.banner__subtitle
            span.banner__subtitle-text クローズドコミュニティに最適化する
            span.banner__subtitle-text メッセージデザイン  
          .banner__phones
            img.banner__phones-image(src="/images/makenews-phones-pc.png" alt="smart phones")

      //- FIXED HEADER WHEN SCROLL
      header.header
        .header__content
          .header__logo
            a.header__logo-link(href="/")
              img.header__logo-img(src="/images/makenews-logo-header.png" alt="make news logo")

          nav.navigation
            .navigation__list
              .navigation__item(data-index='0')
                a.navigation__link.navigation__link--active
                  span トップ

              .navigation__item(data-index='1')
                a.navigation__link
                  span ポイント
              
              .navigation__item(data-index='2')
                a.navigation__link
                  span カスタマイズ例
              
              .navigation__item(data-index='3')
                a.navigation__link
                  span カスタマイズフロー
              
              .navigation__item(data-index='4')
                a.navigation__link
                  span お問い合わせ
              
              .navigation__item(data-index='5')
                a.navigation__link
                  span 運営会社


      //- POINTERS SECTION
      section.section#js-point
        .section__content
          .section__title
            h2.section__title-text ポイント
        
          .pointers
            .pointers__image-wrapper
              img.pointers__image(src="/images/devices.png" alt="devices")

            .pointers__content
              h3.pointers__content-title 
                span 情報発信やブランディングに
              .pointers__content-paragraph
                p.pointers__paragraph-text "Make News"は、ある特定のコミュニティ内にだけ共有できる情報を配信する
                p.pointers__paragraph-text プラットフォームアプリです（iPhone／Android）。
                p.pointers__paragraph-text デザインのカスタマイズやプッシュ通知の実装だけでなく、
                p.pointers__paragraph-text 独自の機能拡張にも対応いたします（60万円～）。
                p.pointers__paragraph-text データを自由に解析し、マーケティング活動にご活用ください
    

      //- CUSTOMIZED EXAMPLE SECTION
      section.section.section--customized#js-customized
        .section__content
          .section__title
            h2.section__title-text カスタマイズ例
        
          .customized-example
            .customized-example__list
              .customized-example__item
                .customized-example__item-title
                  span オーダーメイドのデザイン 
                .customized-example__image-wrapper
                  .customized-example__image-item
                    img.customized-example__image(src="/images/customized-example/1-left.png" alt="customization example")
                  .customized-example__image-item
                    img.customized-example__image(src="/images/customized-example/1-right.png" alt="customization example")
                .customized-example__button-wrapper
                  a.button.button--white
                    span.button__text 相談してみる

              .customized-example__item
                .customized-example__item-title
                  span 課金機能で有料記事を配信  
                .customized-example__image-wrapper
                  .customized-example__image-item
                    img.customized-example__image(src="/images/customized-example/2-left.png" alt="customization example")
                  .customized-example__image-item
                    img.customized-example__image(src="/images/customized-example/2-right.png" alt="customization example")
                .customized-example__button-wrapper
                  a.button.button--white
                    span.button__text 相談してみる
              
              .customized-example__item
                .customized-example__item-title
                  span 社内報などにも活用可能
                .customized-example__image-wrapper
                  .customized-example__image-item
                    img.customized-example__image(src="/images/customized-example/3-left.png" alt="customization example")
                  .customized-example__image-item
                    img.customized-example__image(src="/images/customized-example/3-right.png" alt="customization example")
                .customized-example__button-wrapper
                  a.button.button--white
                    span.button__text 相談してみる
      

      //- CUSTOMIZATION FLOW SECTION
      section.section.section--customization-flow#js-customized-flow
        .section__content
          .section__title
            h2.section__title-text カスタマイズフロー

          .customized-flow
            .customized-flow__list
              .customized-flow__item
                .customized-flow__item-image
                  img.customized-flow__image(src="/images/customized-flow/customization-flow-1.png" alt="customization flow")
                .customized-flow__item-content
                  span.customized-flow__content-label １．ヒアリング
                  .customized-flow__item-description
                    p.customized-flow__description 背景や利用目的をうかがい、潜在的なニーズを抽出いたします。
                    p.customized-flow__description いわゆる「要件定義」フェーズなので、
                    p.customized-flow__description まずはどんなご要望も気軽にお話しください
            
            .customized-flow__list
              .customized-flow__item
                .customized-flow__item-image
                  img.customized-flow__image(src="/images/customized-flow/customization-flow-2.png" alt="customization flow")
                .customized-flow__item-content
                  span.customized-flow__content-label ２．デザイン＋実装
                  .customized-flow__item-description
                    p.customized-flow__description デザインをご確認いただいたあと、アプリを開発いたします。
                    p.customized-flow__description 機能の内容により開発期間は異なりますので、
                    p.customized-flow__description くわしくはお問い合わせください
            
            .customized-flow__list
              .customized-flow__item
                .customized-flow__item-image
                  img.customized-flow__image(src="/images/customized-flow/customization-flow-3.png" alt="customization flow")
                .customized-flow__item-content
                  span.customized-flow__content-label ３．動作チェック後リリース
                  .customized-flow__item-description
                    p.customized-flow__description 実装完了後、お客様にも動作チェックをしていただきます。
                    p.customized-flow__description 「問題なし」となったら、いよいよアプリ配信です！
            
            .customized-flow__list
              .customized-flow__item
                .customized-flow__item-image
                  img.customized-flow__image(src="/images/customized-flow/customization-flow-4.png" alt="customization flow")
                .customized-flow__item-content
                  span.customized-flow__content-label ４．保守／リニューアル
                  .customized-flow__item-description
                    p.customized-flow__description 管理画面の操作はお客様におこなっていただきますが、
                    p.customized-flow__description なんらかのトラブルが起きた際は、
                    p.customized-flow__description 相談のうえで弊社にて対応いたします
                
      
      //- CONSULTATION INQUIRIES SECTION
      section.section#js-contactus
        .section__content
          .section__title
            h2.section__title-text ご相談・お問い合わせ
        
          .inquiries
            .inquiries__note
              span.inquiries__note-text 本アプリを利用したい方、利用する前に相談したい方、お気軽にご連絡ください
            
            .inquiries__form
              .inquiries__form-list
                label.inquiries__form-label ご法人名・屋号  
                  span.inquiries__form-required ※
                .inquiries__form-input
                  input.inquiries__form-input-box#companyName.js-required(type="text")
              
              .inquiries__form-list
                label.inquiries__form-label 部署名   
                .inquiries__form-input
                  input.inquiries__form-input-box#departmentName(type="text")
              
              .inquiries__form-list
                label.inquiries__form-label ご担当者氏名
                  span.inquiries__form-required ※
                .inquiries__form-input
                  input.inquiries__form-input-box#personInCharge.js-required(type="text")

              .inquiries__form-list
                label.inquiries__form-label メールアドレス
                  span.inquiries__form-required ※
                .inquiries__form-input
                  input.inquiries__form-input-box#mailAddress.js-required(type="text")

              .inquiries__form-list
                label.inquiries__form-label 概要 
                  span.inquiries__form-required ※
                .inquiries__form-input
                  select.inquiries__form-select-box#inquiries-overview
                    each val, index in ["選択してください", "カスタマイズのご相談", "取材のご依頼", "その他お問い合わせ"]
                      option(value=index id=index) #{val}
              
              .inquiries__form-list
                label.inquiries__form-label 内容 
                  span.inquiries__form-required ※
                .inquiries__form-input
                  textarea.inquiries__form-textarea.js-required#contents

              .inquiries__terms
                .inquiries__terms-title 個人情報の利用目的
                ul.inquiries__terms-content
                  li.inquiries__terms-item
                    span.inquiries__terms-text 当社は、取得する個人情報を契約締結前に意向の確認や調整をおこなう連絡手段、及び今後の弊社のサービス案内のために利用いたします
                  li.inquiries__terms-item
                    span.inquiries__terms-text 当社は、本人の同意がある場合及び法令に基づく場合を除き、取得した個人情報を第三者に提供いたしません
                  li.inquiries__terms-item
                    span.inquiries__terms-text 当社は、取得した個人情報について、本人から利用目的の通知、開示、内容の訂正・追加・削除、利用停止の要望がある場合には、遅滞なく対応いたします

              .inquiries__form-list.inquiries__form-list--button
                .inquiries__button-wrapper
                  input#inquiriesData(type="hidden")
                  button.button.button--submit
                    span.button__text 送信する
                  noscript
                    .inquiries__reminder(disabled=true)
                      span JavaScriptをONにしてください
                    style(type='text/css').
                      .button.button--submit {
                        background: #ccc;
                        pointer-events: none;
                        border: none;
                      }    


    footer.footer#js-operating-company
      .footer__container
        .footer__social-media
          .footer__social-list.footer__social-list-pc
            .footer__social-item
              .fb-like(data-href="https://www.facebook.com/YNSPhilippines/" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="false" ) 

            .footer__social-item
              .fb-share-button(data-href="https://makenews.y-n-s.co.jp/" data-layout="button" data-size="large" data-mobile-iframe="true")
                a.fb-xfbml-parse-ignore(target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmakenews.y-n-s.co.jp%2F&amp;src=sdkpreparse")
            
            .footer__social-item
              a.twitter-share-button(href="https://twitter.com/intent/tweet" data-show-count="false" data-size="large" data-text=' ' data-hashtags="makenews" data-lang="ja" ) ツイート
              script(async src="https://platform.twitter.com/widgets.js")

            .footer__social-item
              a.footer__social-button.footer__social-button-icon#copy-clipboard(data-clipboard-text="Just because you can doesn't mean you should — clipboard.js")
                img.footer__social-icon.footer__social-icon-copy(src="/images/copy-url.png" alt="copy url")
                span.footer__social-text URLコピー

          .footer__social-list.footer__social-list-sp
            .footer__social-item
              .fb-like(data-href="https://www.facebook.com/YNSPhilippines/" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="false" ) 

            .footer__social-item
              .fb-share-button(data-href="https://makenews.y-n-s.co.jp/" data-layout="button" data-size="small" data-mobile-iframe="true")
                a.fb-xfbml-parse-ignore(target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmakenews.y-n-s.co.jp%2F&amp;src=sdkpreparse")
            
            .footer__social-item
              a.twitter-share-button(href="https://twitter.com/intent/tweet" data-show-count="false" data-size="small" data-text=' ' data-hashtags="makenews" data-lang="ja" ) ツイート
              script(async src="https://platform.twitter.com/widgets.js")

            .footer__social-item
              a.footer__social-button.footer__social-button-icon#copy-clipboard(data-clipboard-text="Just because you can doesn't mean you should — clipboard.js")
                img.footer__social-icon.footer__social-icon-copy(src="/images/copy-url.png" alt="copy url")
                span.footer__social-text URLコピー
        
        .footer__title
          span オンラインコミュニティの可能性を高める

        .footer__logo
          a(href='https://y-n-s.co.jp/')
            img.footer__logo-img(src="/images/yns-logo.png" alt="yns logo")
          
          a(href='https://ja.monaca.io/solution-partner/list.html' target="_blank")
            img.footer__logo-img.footer__monaca-img(src="/images/Monaca_Partner_logo.jpg" alt="Monaca Partnership logo")
        
        .footer__contact-info
          span.footer__contact-content 〒113-0033
          span.footer__contact-content 東京都文京区本郷4-25-11 ハイシティ本郷菊坂 806号室
          a.footer__contact-content(href="Tel:03-5615-8095") Tel. 03-5615-8095

      .footer__icons
        .footer__icons-wrapper
          .footer__menu-icon
            span.footer__icon-menu
            span.footer__icon-menu
            span.footer__icon-menu
          .footer__scroll-top
            img.footer__icon(src="/images/fa-angle-up.png")

      .footer__copyright
        .footer__copyright-text
          span Copyright ©  
          span#js-year  
          span YNS Inc. All Rights Reserved.

    .modal
      .modal__navigation
        ul.modal__navigation-list
          li.modal__navigation-item(data-index="0") トップ
          li.modal__navigation-item(data-index="1") ポイント
          li.modal__navigation-item(data-index="2") カスタマイズ例
          li.modal__navigation-item(data-index="3") カスタマイズフロー
          li.modal__navigation-item(data-index="4") お問い合わせ
          li.modal__navigation-item(data-index="5") 運営会社
      
      .modal__customized-flow
        p.modal__customized-content 
        .modal__customized-button
          button.button.button--modal
            span.button__text もとに戻る

    script(src="/javascript/plugins/jquery-3.3.1.min.js")
    script(src="/javascript/plugins/smtpjs.min.js")
    script(src="/javascript/plugins/toastr.min.js")
    script(src="/javascript/plugins/clipboard.min.js")
    script(src="/javascript/main.min.js" charset="UTF-8")
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-130719375-2")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-130719375-2');